<!doctype html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Farmer</title>
    <link rel="stylesheet" href="assests/css/bootstrap.min.css" />    
  </head>
  <body>
	<section class="wrapper">
	
		<header>
		
			<nav class="{{active}}" ng-click="$event.preventDefault()">
				<a href="#" class="home" ng-click="active='home'">Home</a>
				<a href="#" class="about" ng-click="active='about'">About</a>
				<a href="#" class="contact" ng-click="active='contact'">Contact</a>
			</nav>
			
			<div ng-controller="MainController">
			<div class="navbar navbar-default">
			  <ul class="nav navbar-nav">
				<li ng-class="{dropdown: menu.menus}" ng-repeat="menu in menus">
				  <a href="{{menu.action}}" data-toggle="dropdown" ng-class="{'dropdown-toggle': menu.menus}">{{menu.title}} <span class="caret"></span></a>
				  <ul class="dropdown-menu" ng-if="menu.menus">
					<li ng-repeat="submenu in menu.menus">
					  <a href="{{submenu.action}}">{{submenu.title}}</a>
					</li>
				  </ul>
				</li>
			  </ul>
			</div>
			
			<hr>
			<h3>Sidebar / Tree</h3>
			<div class="col-sm-3">
			  <ul class="nav nav-stacked">
				<li ng-class="{dropdown: menu.menus}" ng-repeat="menu in menus">
				  <a href="{{menu.action}}" data-toggle="dropdown" ng-class="{'dropdown-toggle': menu.menus}">{{menu.title}}</a>
				  <ul class="nav nav-stacked" ng-if="menu.menus">
					<li ng-class="{dropdown: submenu.menus}" ng-repeat="submenu in menu.menus">
					  <a href="{{submenu.action}}" data-toggle="dropdown" ng-class="{'dropdown-toggle': submenu.menus}"><i class="glyphicon glyphicon-chevron-right"></i> {{submenu.title}}</a>
					  
					  <ul class="dropdown-menu" ng-if="submenu.menus">
						<li ng-repeat="subsubmenu in submenu.menus">
						  <a href="{{subsubmenu.action}}">{{subsubmenu.title}}</a>
						</li>
					   </ul>
					  
					</li>
				  </ul>
				</li>
			  </ul>
			</div>
			</div>
	
		</header>
		
		<section class="content">
			<p ng-show="active">You chose <b>{{active}}</b></p>
		</section>
		
		<footer>
		</footer>
	</section>
	
	<script src="assests/js/angular.min.js"></script>
	<script src="assests/js/js/bootstrap.js"></script>
	<script src="assests/js/bootstrap.js"></script>
	
	

	<script src="app/app.js"></script>
	
  </body>
</html>